{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="col-sm-2 col-md-10 mt-5 mb-5" style="margin:0px auto;">
    <div class="card rounded mt-3 border-0 mb-5 mt-5 bg-company-brown opacity-100 w-100" style="margin:0px auto;">
        <div class="card-body text-center bg-company-brown rounded p-3 opacity-100" >
            <h5 class="card-title text-center " style="" ></h5>
            <div id="login" class="container-fluid align-items-center justify-content-between p-5 opacity-100"
            style="margin-left:auto;margin-right:auto;">
            <div class="col-sm-4 col-md-15" style="margin:0px auto;">
            
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}